#version=RHEL10

# Install
text
cdrom

lang en_US.UTF-8
keyboard us
timezone America/New_York --utc

rootpw --plaintext password

network --bootproto=dhcp --device=link --activate

firewall --enabled --service=ssh

selinux --enforcing

services --enabled=sshd

reboot

ignoredisk --only-use=sda

clearpart --all --initlabel

autopart --type=lvm

bootloader --location=mbr

%packages

@^minimal-environment

openssh-server
curl
wget
vim
tar
sudo
cloud-init
qemu-guest-agent

%end

user --name=packer \
     --password=password \
     --plaintext \
     --groups=wheel

%post --log=/root/ks-post.log

echo "packer ALL=(ALL) NOPASSWD:ALL" >/etc/sudoers.d/packer
chmod 440 /etc/sudoers.d/packer

systemctl enable sshd

dnf clean all

%end
